.ant-targets-build.xml
.metadata
bin/
bin/**
build/
tmp/**
tmp/**/*
target/
target/**
target/**/*
*.tmp
*.bak
*.bat
*.trc
*.txt
*.dmp
*.mdmp
*.phd
*.bak
*.log
*.log.*
*.out
.classpath
.project
.settings/
.gradle/
